<!DOCTYPE html>
<html>
<head>
    <title>LearnWithMora</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>

<div class="card">
    <img src="/static/logo.png" id="logo">
    <h1>LearnWithMora</h1>
    <p class="tag">Learn Coding Fast 🚀</p>

    <div id="stars"></div>
    <div class="progress">
        <div id="bar"></div>
    </div>

    <h2 id="question"></h2>

    <div id="options">
        <button class="opt"></button>
        <button class="opt"></button>
        <button class="opt"></button>
        <button class="opt"></button>
    </div>

    <p id="feedback"></p>
    <button id="next">Next</button>
</div>

<script src="/static/script.js"></script>
</body>
</html>